.users-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.user-block {
    border: 2px solid #444;
    padding: 10px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
